@charset "UTF-8";
/* CSS Document */

/* Add a black background colour to navigation */
.nav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links in the navigation bar */
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the colour of links on hover to pink */
.nav a:hover {
    background-color: #FF007B;
    color: white; 
}


/* Hide the link that open and closes the navigation on smaller screens */
.nav .icon {
    display: none;
}

/* When the screen is less than 700 pixels wide, hide all links except for the home page, other links are shown in a drop down menu for easier navigation */
@media screen and (max-width: 900px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* Styles the drop down navigation menu for use on screens less than 700 pixels wide */
@media screen and (max-width: 900px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Center the logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
}

/* Style the contact section on home page making the text white and background pink */
div.contact {
	color: white;
	background-color: #FF007B;
}


/* Style and center the title on the tops page making the text white and background pink */
h1.tops {
	text-align: center;
	color: white;
	background-color: #FF007B;
}

/* Align the content of the columns equally and to the center */
.column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 50%;
   
}

/* Makes columns fall on top of each other instead of next to each other on smaller devices with a width less than 700px */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
	padding-bottom: 50px;
  }
}

/* Styles buttons to be centered and a pink rectangle with white writing */
.add {
	display: block;
	margin-left: auto;
	margin-right: auto;
    background-color: #FF007B;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/* positions the pictures of the items on the pages to the center */
.item {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* positions the discription of the pictures of the items on the pages to the center */
.caption {
	text-align: center;
}






